---
layout: base
title: Organizers
year: 2020
redirect_from:
- /2020/organizers.html
---
<!-- Header -->
<div class="organizers-header">
  <div class="intro-message"></div>
</div>

<!-- Page Content -->

<div class="container">
  <h1 class="sub-page-header">Conference Organizers</h1>
  <div class="sub-page-border"></div>
</div>
<div class="container organizers">
  <h2 class="organizer-name">Conference Co-Chairs</h4>
    <p class="lead" style="text-align:center">Contact: <a class="theme-link"
        href="mailto:hcompconference@gmail.com">hcompconference@gmail.com</a></p>
    {% assign people = site.data.chairs[page.year] %}
    {% include organizers.html people=people %}
</div>
<div class="container organizers">
  <h2 class="organizer-name">Works-in-progress & Demonstration Co-Chairs</h4>
    {% assign people = site.data.wip_chairs[page.year] %}
    {% include organizers.html people=people %}
</div>
<div class="container organizers">
  <h2 class="organizer-name">Doctoral Consortium Co-Chairs</h4>
    <!--
      <div class="row profile-row">
        <div class="col-md-7" style="text-align:center">
          <img class="photo-size rounded-circle" src="img/photo/Ming.jpg">
          <h3><a class="theme-link-org" href="http://mingyin.org/">Ming Yin</a></h3>
          <p class="lead">Purdue University</p>
        </div>
        <div class="col-md-3" style="text-align:center;">
          <img class="photo-size rounded-circle" src="img/photo/adish.png">
          <h3><a class="theme-link-org" href="https://machineteaching.mpi-sws.org/adishsingla.html">Adish Singla</a></h3>
          <p class="lead">Max Planck Institute for Software Systems</p>       
        </div>
      </div>
    -->

</div>
<div class="container organizers">
  <h2 class="organizer-name">Industry & Sponsorships Co-Chairs</h4>
    <!--
      <div class="row profile-row">
        <div class="col-md-4" style="text-align:center">
          <img class="photo-size rounded-circle" src="img/photo/omar.png">
          <h3><a class="theme-link-org" href="https://www.linkedin.com/in/omar-alonso-8a5235/">Omar Alonso</a></h3>
          <p class="lead">Microsoft</p>
        </div>
        <div class="col-md-4" style="text-align:center">
          <img class="photo-size rounded-circle" src="img/photo/rajan.png">
          <h3><a class="theme-link-org" href="http://www.rajanvaish.com/index.html">Rajan Vaish</a></h3>
          <p class="lead">Snap Research</p>
        </div>
        <div class="col-md-4" style="text-align:center">
          <img class="photo-size rounded-circle" src="img/photo/david.jpg">
          <h3><a class="theme-link-org" href="https://www.soe.ucsc.edu/people/davidtlee">David Lee</a></h3>
          <p class="lead">UC Santa Cruz</p>
        </div>
      -->
</div>
</div>
<div class="container organizers">
  <h2 class="organizer-name">Social Media and Publicity Co-Chairs</h4>
    <!--
      <div class="row profile-row">
        <div class="col-md-7" style="text-align:center">
          <img class="photo-size rounded-circle" src="img/photo/agapie.jpg">
          <h3><a class="theme-link-org" href="http://eagapie.com/">Elena Agapie</a></h3>
          <p class="lead">University of Washington</p>
        </div>
        <div class="col-md-3" style="text-align:center">
          <img class="photo-size rounded-circle" src="img/photo/ujwal-new.png">
          <h3><a class="theme-link-org" href="http://www.l3s.de/~gadiraju/">Ujwal Gadiraju</a></h3>
          <p class="lead">L3S Research Center</p>
        </div>
      </div>
    -->
</div>
<div class="container organizers">
  <h2 class="organizer-name">CrowdCamp Co-Chairs</h4>
    <!--
      <div class="row profile-row">
        <div class="col-md-7" style="text-align:center">
          <img class="photo-size rounded-circle" src="img/photo/harman-150.jpg">
          <h3><a class="theme-link-org" href="http://www-personal.umich.edu/~harmank/">Harmanpreet Kaur</a></h3>
          <p class="lead">University of Michigan</p>
        </div>
        <div class="col-md-3" style="text-align:center">
          <img class="photo-size rounded-circle" src="img/photo/williams-150.jpg">
          <h3><a class="theme-link-org" href="http://acw.io/">Alex Williams</a></h3>
          <p class="lead">University of Waterloo</p>
        </div>
      </div>
    -->
</div>
<div class="container organizers">
  <h2 class="organizer-name">Website Co-Chairs</h4>
    {% assign people = site.data.website_chairs[page.year] %}
    {% include organizers.html people=people %}
</div>
<div class="container organizers">
  <h2 class="organizer-name">Associate Chairs</h4>
    {% assign people = site.data.associate_chairs[page.year] %}
    {% include organizers.html people=people %}
</div>
<div class="container organizers">
  <h2 class="organizer-name">Program Committee</h4>
    {% assign people = site.data.pc[page.year] %}
    {% include organizers.html people=people %}
</div>



<div class="container organizers" style="border-bottom:0px solid #000;">
  <h2 class="organizer-name">Conference Steering Committee</h2>
  <!--
    <div class="row profile-row">
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Paul%20Bennett.jpg">
        <h3><a class="theme-link-org" href="http://research.microsoft.com/en-us/um/people/pauben/">Paul Bennett</a></h3>
        <p class="lead">Microsoft Research</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Jeffrey.png">
        <h3><a class="theme-link-org" href="http://www.cs.cmu.edu/~jbigham/">Jeff Bigham</a></h3>
        <p class="lead">Carnegie Mellon University<br>HCOMP 2014 Co-Chair</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Yiling.png">
        <h3><a class="theme-link-org" href="http://yiling.seas.harvard.edu/">Yiling Chen</a></h3>
        <p class="lead">Harvard University<br>HCOMP 2012 Chair and 2018 Co-Chair</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Steven_Dow-new.jpg">
        <h3><a class="theme-link-org" href="http://spdow.ucsd.edu/">Steven Dow</a></h3>
        <p class="lead">University of California, San Diego<br>HCOMP 2017 Co-Chair</p>
      </div>
    </div>
    <div class="row profile-row">
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Elizabeth.png">
        <h3><a class="theme-link-org" href="http://egerber.mech.northwestern.edu/">Elizabeth Gerber</a></h3>
        <p class="lead">Northwestern University<br>HCOMP 2015 Co-Chair</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Bjoern.png">
        <h3><a class="theme-link-org" href="http://www.cs.berkeley.edu/~bjoern/">Bjoern Hartman</a></h3>
        <p class="lead">University of California, Berkeley<br>HCOMP 2013 Co-Chair</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Horvitz.jpg">
        <h3><a class="theme-link-org" href="http://research.microsoft.com/en-us/um/people/horvitz/">Eric Horvitz</a></h3>
        <p class="lead">Microsoft Research<br>HCOMP 2013 Co-Chair</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Panos.jpg">
        <h3><a class="theme-link-org" href="http://www.ipeirotis.com/">Panos Ipeirotis</a></h3>
        <p class="lead">New York University<br>HCOMP 2015 &amp; 2011 Co-Chair</p>
      </div>
    </div>
    <div class="row profile-row">
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/adam_kalai.jpg">
        <h3><a class="theme-link-org" href="https://www.microsoft.com/en-us/research/people/adum/">Adam Kalai</a></h3>
        <p class="lead">Microsoft Research<br>HCOMP 2017 Co-Chair</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Gabriella.jpg">
        <h3><a class="theme-link-org" href="http://www.gabriella-kazai.com">Gabriella Kazai</a></h3>
        <p class="lead">Lumi, Semion Ltd<br>HCOMP 2018 Co-Chair</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/edith.jpg">
        <h3><a class="theme-link-org" href="http://edithlaw.ca/">Edith Law</a></h3>
        <p class="lead">University of Waterloo</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/matt.png">
        <h3><a class="theme-link-org" href="https://www.ischool.utexas.edu/~ml/">Matthew Lease</a></h3>
        <p class="lead">University of Texas, Austin<br>HCOMP 2016 Co-Chair</p>
      </div>
    </div>
    <div class="row profile-row">
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/David.png">
        <h3><a class="theme-link-org" href="http://www.eecs.harvard.edu/~parkes/">David Parkes</a></h3>
        <p class="lead">Harvard University<br>HCOMP 2014 Co-Chair</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Luis.png">
        <h3><a class="theme-link-org" href="https://www.cs.cmu.edu/~biglou/">Luis von Ahn</a></h3>
        <p class="lead">Carnegie Mellon University<br>HCOMP 2011 Co-Chair</p>
      </div>
      <div class="col-md-3" style="text-align:center">
        <img class="photo-size rounded-circle" src="img/photo/Haoqi.jpg">
        <h3><a class="theme-link-org" href="http://users.eecs.northwestern.edu/~hq/">Haoqi Zhang</a></h3>
        <p class="lead">Northwestern University</p>
      </div>
    </div>
  -->
</div>