---
layout: base
title: Accepted Papers
year: 2021
redirect_from:
  - /2021/papers.html
---

<!-- Header -->
<div class="submit-header">
  <div class="intro-message"></div>
</div>

<!-- Page Content -->

<div class="container">
  <div class="row"></div>
</div>

<div class="container">
  <div class="intro-text">
    <div class="row">
      <div class="col-md-12">
        <div class="intro-paragraph lead">
          <ul class="list-inline">
            <li>
              <h2 class="section-heading">Tracks</h2>
            </li>
          </ul>

          <p class="lead">
            <i
              >Accepted papers are grouped by track, with a link to each track
              group provided below.</i
            >
          </p>

          <ul class="lead">
            <li>
              <a class="theme-link" href="#proc">Proceedings</a>
            </li>
            <li>
              <a class="theme-link" href="#full">Papers</a>
            </li>
            <!--
            <li>
              <a class="theme-link" href="#short">Short Papers</a>
            </li>
            -->
            <li>
              <a class="theme-link" href="#dc"
                >Graduate Consortium</a
              >
            </li>
            <li>
              <a class="theme-link" href="#wip"
                >Works-in-Progress and Demonstrations</a
              >
            </li>
            <li>
              <a class="theme-link" href="#bsi"
                >Blue Sky Ideas Papers</a
              >
            </li>
          </ul>

          <h2 id="proc" class="section-heading">Proceedings</h2>
          <a class="theme-link" href="https://ojs.aaai.org/index.php/HCOMP/issue/view/476"> View Conference Proceedings </a>

          <h2 id="full" class="section-heading">Papers</h2>
          
          {% assign sorted = site.data.accepted[2021].full | sort: 'title' %} {%
          for paper in sorted %}
          {% if paper.link %}
            <b>
              <a class="theme-link" href= "{{ paper.link }}" >{{ paper.title }}</a>
            </b>
          {% else %}
            <b>
              {{ paper.title }}
            </b>
          {% endif %}
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}

          <!--
          <h2 id="short" class="section-heading">Short Papers</h2>
          {% assign sorted = site.data.accepted[2021].short | sort: 'title' %} {%
          for paper in sorted %}
          {% if paper.link %}
          
            <b>
              <a class="theme-link" href= "{{ paper.link }}" >{{ paper.title }}</a>
            </b>
          {% else %}
            <b>
              {{ paper.title }}
            </b>
          {% endif %}
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}
          -->

          <h2 id="dc" class="section-heading">Graduate Consortium</h2>
          {% assign sorted = site.data.accepted[2021].doc | sort: 'title' %} {%
          for paper in sorted %}
          {% if paper.link %}
            <b>
              <a class="theme-link" href= "{{ paper.link }}" target="_blank">{{ paper.title }}</a>
            </b>
            {% if paper.video %}
              (<a class="theme-link" target="_blank" href="{{ paper.video }}">video</a>)
            {% endif %}

          {% else %}
            <b>
              {{ paper.title }}
            </b>
            {% if paper.video %}
              (<a class="theme-link" target="_blank" href="{{ paper.video }}">video</a>)
            {% endif %}


          {% endif %}
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}

          <h2 id="wip" class="section-heading">
            Works-in-Progress and Demonstrations
          </h2>

            <h3 id="wip-a" href="#wip-a">
              Group A</h3>
          
            {% assign sorted = site.data.accepted[2021].wip-a | sort: 'title' %} {%
            for paper in sorted %}
            {% if paper.link %}
              <b>
                <a class="theme-link" target="_blank" href= "{{ paper.link }}" >{{ paper.title }}</a>
              </b>
            {% else %}
              <b>
                {{ paper.title }}
              </b>
            {% endif %}
            <ul class="nobullet">
              <li>
                {{ paper.authors }}
              </li>
            </ul>
            {% endfor %}

            <h3 id="wip-b" href="#wip-b">
              Group B</h3>

            {% assign sorted = site.data.accepted[2021].wip-b | sort: 'title' %} {%
            for paper in sorted %}
            {% if paper.link %}
              <b>
                <a class="theme-link" target="_blank" href= "{{ paper.link }}" >{{ paper.title }}</a>
              </b>
            {% else %}
              <b>
                {{ paper.title }}
              </b>
            {% endif %}
            <ul class="nobullet">
              <li>
                {{ paper.authors }}
              </li>
            </ul>
            {% endfor %}

          <h2 id="bsi" class="section-heading">Blue Sky Ideas Papers</h2>
          {% assign sorted = site.data.accepted[2021].bluesky | sort: 'title' %} {%
          for paper in sorted %}
          {% if paper.link %}
            <b>
              <a class="theme-link" href= "{{ paper.link }}" >{{ paper.title }}</a>
            </b>
          {% else %}
            <b>
              {{ paper.title }}
            </b>
          {% endif %}
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
