---
layout: base
title: Accepted Papers
year: 2020
redirect_from:
  - /2020/papers.html
---

<!-- Header -->
<div class="program-header">
  <div class="intro-message"></div>
</div>

<!-- Page Content -->

<div class="container">
  <div class="row"></div>
</div>

<div class="container">
  <h1 class="sub-page-header">Accepted Papers</h1>
  <div class="sub-page-border"></div>
</div>

<!-- container a-->

<div class="container">
  <div class="intro-text">
    <div class="row">
      <div class="col-md-12">
        <div class="intro-paragraph lead">
          <ul class="list-inline">
            <li>
              <h2 class="section-heading">Tracks</h2>
            </li>
          </ul>

          <p class="lead">
            <i
              >Accepted papers are grouped by track, with a link to each track
              group provided below.</i
            >
          </p>

          <ul class="lead">
            <li>
              <a class="theme-link" href="#proc">Proceedings</a>
            </li>
            <li>
            <li>
              <a class="theme-link" href="#full">Full Papers</a>
            </li>
            <li>
              <a class="theme-link" href="#short">Short Papers</a>
            </li>
            <li>
              <a class="theme-link" href="#dc"
                >Doctoral Consortium</a
              >
            </li>
            <li>
              <a class="theme-link" href="#wip"
                >Works-in-Progress & Demonstrations</a
              >
            </li>
            <li>
              <a class="theme-link" href="#bsi"
                >Blue Sky Ideas Track</a
              >
            </li>
          </ul>

          <h2 id="proc" class="section-heading">Proceedings</h2>
          <a class="theme-link" href="https://aaai.org/Library/HCOMP/hcomp20contents.php"> View Conference Proceedings </a>         

          <h2 id="full" class="section-heading">Full Papers</h2>
          
          {% assign sorted = site.data.accepted[2020].full | sort: 'title' %} {%
          for paper in sorted %}
          <b>
            {{ paper.title }}
          </b>
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}

          <h2 id="short" class="section-heading">Short Papers</h2>
          
          {% assign sorted = site.data.accepted[2020].short | sort: 'title' %} {%
          for paper in sorted %}
          <b>
            {{ paper.title }}
          </b>
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}

          <h2 id="dc" class="section-heading">Doctoral Consortium</h2>
          
          {% assign sorted = site.data.accepted[2020].doc | sort: 'title' %} {%
          for paper in sorted %}
          <b>
            {{ paper.title }}
          </b>
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}

          <h2 id="wip" class="section-heading">
            Works-in-Progress &amp; Demonstration
          </h2>

          <h5 class="section-heading">Works-in-Progress</h5>
          
          {% assign sorted = site.data.accepted[2020].wip | sort: 'title' %} {%
          for paper in sorted %}
          <b>
            {% if paper.id %}
            <a class="theme-link" href="assets/papers/{{paper.id}}.pdf"
              >{{ paper.title }}</a
            >
            {% else %} {{ paper.title }} {% endif %}
          </b>
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}

          <h5 class="section-heading">Demonstrations</h5>
          
          {% assign sorted = site.data.accepted[2020].demo | sort: 'title' %} {%
          for paper in sorted %}
          <b>
            {% if paper.id %}
            <a class="theme-link" href="assets/papers/{{paper.id}}.pdf"
              >{{ paper.title }}</a
            >
            {% else %} {{ paper.title }} {% endif %}
          </b>
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}

          <h2 id="bsi" class="section-heading">Blue Sky Ideas Papers</h2>
          
          {% assign sorted = site.data.accepted[2020].bluesky | sort: 'title' %} {%
          for paper in sorted %}
          <b>
            {{ paper.title }}
          </b>
          <ul class="nobullet">
            <li>
              {{ paper.authors }}
            </li>
          </ul>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
