---
layout: base
title: Call for Sponsors
year: 2024
---

<!-- Header -->
<div class="submit-header">
  <div class="intro-message"></div>
</div>

<!-- Page Content -->

<div class="container">
  <h1 class="sub-page-header">HCOMP 2024 Sponsors</h1>
  <div class="sub-page-border"></div>
</div>

<div class="container">
  <div class="row">
    <!-- <div class="lead col-md-12">
      <p style="text-align: center;">
        <font size="+3" class="sponsor-heading"><b>Platinum</b></font><br />
        <a href="https://ai.google/research/"><img class="mt-4" src="img/sponsors/google.svg" alt="Toloka AI" width="200"
          height="" style="background-color: white; border-style: none; margin: 10px;" /></a>
        <a href="https://www.amazon.science/"><img class="mt-4" src="img/sponsors/amazon_science_logo.png" alt="Amazon Science" width="300"
          height="" style="background-color: white; border-style: none; margin: 10px;" /></a>
      </p>
      <br>
      <br>
    </div>
    
    <div class="lead col-md-12">
      <p style="text-align: center;">
        <font size="+3" class="sponsor-heading"><b>Silver</b></font><br />
        <a href="https://www.bloomberg.com/company/values/tech-at-bloomberg/artificial-intelligence-ai/"><img class="mt-4" src="img/sponsors/bloomberg2022.png" alt="Bloomberg Engineering"
          width="250" height="" style="background-color: white; border-style: none; margin: 5px; margin-bottom:5px" /></a>
      </p>
      <br>
      <br>
    </div> -->
    
    <div class="lead col-md-12">
      <p style="text-align: center;">
        <font size="+3" class="sponsor-heading">Bronze</font><br/>
        <a href="https://aij.ijcai.org/funding-opportunities-for-promoting-ai-research/"><img class="mt-4" src="img/sponsors/aij.jpg" alt="Artificial Intelligence Journal"
          width="200" height="" style="background-color: white; border-style: none; margin: 5px; margin-bottom:5px" /></a>
      </p>
      <br>
      <br>
    </div>

    <!-- <div class="lead col-md-12">
      <p style="text-align: center;">
        <font size="+3" class="sponsor-heading"><b>Mercury</b></font><br />
        <a href="https://www.microworkers.com/"><img class="mt-4" src="img/sponsors/microworkers2022.svg" alt="MicroWorkers"
          width="300" height="" style="background-color: white; border-style: none; margin: 5px;" /></a>
      </p>
    </div> -->
  </div>
</div>

<div class="container">
  <h1 class="sub-page-header">Call for Sponsors</h1>
  <div class="sub-page-border"></div>
</div>

<div class="container">
  <div class="intro-text">
    <div class="row">
      <div class="col-md-12">
        <div class="intro-paragraph">

          
          <p class="lead">
            The 12th AAAI Conference on Human Computation and Crowdsourcing (HCOMP 2024) will be held from October 16-19th in Pittsburgh, Pennsylvania, USA, 
            and will particularly focus on the theme of <b>''Responsible Crowd Work for Better AI.''</b> 
            We invite a wide range of works that will generate new insights into the role of human
            intelligence and input in the age of LLMs and generative AI, workflows for human-AI
            collaboration and teaming, the quality (or values) of human-annotated datasets,
            including elements such as reliability and replicability of human computation and
            crowdsourcing experiments, holistic approaches to deal with bias, fairness, and
            interpretability, and novel metrics for aggregation of results.
          </p>

            <p class="lead">
            HCOMP is the home of the human computation and crowdsourcing community.
            HCOMP is a cross-disciplinary conference that combines human-centered methods
            and traditional computer science to address fundamental issues in human
            computation and crowdsourcing elements that play a pivotal role in the shaping of
            many AI systems and applications today. HCOMP fosters an inclusive atmosphere
            that encourages active participation from both industry and academia, students and
            senior researchers and practitioners, to share their expertise, collaborate, and
            advance the field's frontiers. As such, it brings together researchers and practitioners
            from diverse areas such as artificial intelligence, human-computer interaction,
            psychology, economics, social computing, machine learning, information retrieval,
            databases, and systems.
            </p>

          <p class="lead">
            HCOMP began as a workshop in 2009, and after 4 successful meetings, it became a
            conference in 2013. Now in its 12th edition, HCOMP has created a vibrant
            intellectual community for those seeking to advance and apply human computation
            and crowdsourcing methods.
          </p>

          <ul class="lead">
            Your generous sponsorship will directly support to:
<li>make the conference more accessible by keeping registration fees affordable for academic researchers, especially students,</li>
<li>invite keynote speakers,</li>
<li>help organize social events that play a vital role in community building,</li>
<li>support conference logistics.</li>
          </ul>
          </p>


          <ul class="list-inline">
            <li>
              <h2 class="section-heading">Why become a sponsor?</h2>
            </li>
          </ul>
          <p class="lead">Partnering with HCOMP 2024 as a sponsor offers your organization a unique
opportunity to be at the forefront of innovation in human computation and
crowdsourcing – a fundamentally important field in creating and propagating better
AI across different domains. By supporting this premier event, you will not only
amplify your presence within a global community of leaders in artificial intelligence
and human-centered computing but also contribute significantly to the advancement
of research and development in these critical fields. Here’s why becoming a sponsor
is an invaluable investment:</p>

            <ul class="lead">
              <li><b>Elevate Your Brand:</b> Gain unparalleled visibility and branding opportunities at
        the flagship conference in human computation and crowdsourcing.</li>
              <li><b>Connect with Talent:</b> Access a global community of students, researchers,
        industry practitioners, and emerging talents in AI, human-computer
        interaction, and related fields</li>
              <li><b>Shape the Future of AI:</b> Play a pivotal role in advancing responsible, safe,
transparent, robust, and ethical AI through supporting cutting-edge research
and dialogue on all aspects of crowd work</li>
              <li><b>Exclusive Networking:</b> Engage directly with top-tier academics, industry
leaders, and innovative startups in an inclusive and collaborative environment.</li>
              <li><b>Brand Recognition:</b> Ensure your brand is front and center, with sponsors
mentioned regularly before the start of each session.</li>
            </ul>
          <ul class="list-inline">
            <li>
              <h2 class="section-heading">Sponsorship Tiers</h2>
            </li>
          </ul>
         <h3 class="section-heading">Platinum ($10,000 or greater contribution)</h3>
            <ul class="lead">
              <li>Named event or session, such as a reception, poster session, student event, industry panel, or paper sessions (displayed in the program and when introducing the session).</li>
              <li>A 10-second advertisement or acknowledgment by the session chair before talks commence in a session;</li>
              <li>Named award (e.g., <b>[Company Name]</b> Best Paper Award).</li>
              <li>Three complimentary registrations.</li>
              <li>Sponsor booth at the poster session.</li>
              <li>Job descriptions distributed among attendees.</li>
              <li>Acknowledgement on the conference website and social media, in printed materials, in opening and closing plenary sessions, and in onsite signage, as available.</li>
            </ul>
          </p>
          <h3 class="section-heading">Gold ($7,500 or greater contribution)</h3>
            <ul class="lead">
              <li>Named award (e.g., <b>[Company Name]</b> Best Student Paper Award).</li>
              <li>Two complimentary registrations.</li>
              <li>Sponsor booth at the poster session.</li>
              <li>Job descriptions distributed among attendees.</li>
              <li>Acknowledgement on the conference website and social media, in printed materials, in opening and closing plenary sessions, and in onsite signage, as available.</li>
            </ul>
          </p>
          <h3 class="section-heading">Silver ($5,000 or greater contribution)</h3>
            <ul class="lead">
              <li>One complimentary registration.</li>
              <li>Sponsor booth at the poster session.</li>
              <li>Job descriptions distributed among attendees.</li>
              <li>Acknowledgement on the conference website and social media, in printed materials, in opening and closing plenary sessions, and in onsite signage, as available.</li>
            </ul>
          </p>
          <h3 class="section-heading">Bronze ($2,000 or greater contribution)</h3>
            <ul class="lead">
               <li>Job descriptions distributed among attendees.</li>
              <li>Acknowledgement on the conference website and social media, in printed materials, in opening and closing plenary sessions, and in onsite signage, as available.</li>
            </ul>
          </p>
          <h3 class="section-heading">Exclusive Add-on: Named Student Scholarship (+$5K or greater)</h3>
          <p class="lead">
            In addition to the various sponsorship tiers, we would like to provide you with the
            exclusive opportunity to extend further support to our students in the form of
            scholarships. This sponsorship add-on will allow your organization to have its brand
            associated with the scholarship. Students receiving this scholarship will be expected
            to recognize your organization's support during their conference presentations. The
            scholarships will be primarily dedicated to covering travel and accommodation
            expenses, prioritizing students from underrepresented groups. We estimate
            allocating approximately $1k per student, with a minimum of five students receiving
            this support.
            <br />
            <br />
            
            All values are expressed in US dollars.
            
          </p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Open Sans', sans-serif;font-size:17px;
  overflow:hidden;padding:10px 5px;word-break:normal;color: #333333;
    line-height: 1.8; font-weight:normal}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Open Sans', sans-serif;font-size:17px;
overflow:hidden;padding:10px 5px;word-break:normal;color: #333333;
    line-height: 1.8;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<div style="display: flex; justify-content: center; align-items: center;">
  <table class="tg" style="width:80%">
  <thead>
    <tr>
      <th class="tg-0pky"></th>
      <th class="tg-0pky">Platinum</th>
      <th class="tg-0pky">Gold</th>
      <th class="tg-0pky">Silver</th>
      <th class="tg-0pky">Bronze</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0pky">Investment in US $</td>
      <td class="tg-0pky">10k</td>
      <td class="tg-0pky">7.5k</td>
      <td class="tg-0pky">5k</td>
      <td class="tg-0pky">2k</td>
    </tr>
    <tr>
      <td class="tg-0pky">Complimentary Registrations</td>
      <td class="tg-0pky">3</td>
      <td class="tg-0pky">2</td>
      <td class="tg-0pky">1</td>
      <td class="tg-0pky"><span style="font-weight:400;font-style:normal">✘</span></td>
    </tr>
    <tr>
      <td class="tg-0pky">Named Event/Session</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✘</td>
      <td class="tg-0pky"><span style="font-weight:400;font-style:normal">✘</span></td>
      <td class="tg-0pky"><span style="font-weight:400;font-style:normal">✘</span></td>
    </tr>
    <tr>
      <td class="tg-0pky">Acknowledgement by Session Chairs</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✘</td>
      <td class="tg-0pky"><span style="font-weight:400;font-style:normal">✘</span></td>
      <td class="tg-0pky"><span style="font-weight:400;font-style:normal">✘</span></td>
    </tr>
    <tr>
      <td class="tg-0pky">Named Award</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✘</td>
      <td class="tg-0pky">✘</td>
    </tr>
    <tr>
      <td class="tg-0pky">Booth at Poster Session</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✘</td>
    </tr>
    <tr>
      <td class="tg-0pky">Job Description</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✔</td>
    </tr>
    <tr>
      <td class="tg-0pky">Acknowledgement</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky">✔</td>
      <td class="tg-0pky"><span style="font-weight:500;font-style:normal">✔</span></td>
    </tr>
  </tbody>
  </table>
</div>
          <ul class="list-inline">
            <li>
              <h2 class="section-heading">Let's Talk</h2>
            </li>
          </ul>
          <p class="lead">Get in touch with us: <a href="mailto:HCOMPSponsors@aaai.org">HCOMPSponsors@aaai.org</a></p>

          <div class="container organizers">
  <h2 class="organizer-name">Industry & Sponsorships Co-Chairs</h2>
    {% assign people = site.data.industry_chairs[page.year] %}
    {% include people.html people=people %}
</div>

          <div class="container organizers">
  <h2 class="organizer-name">Conference Co-Chairs</h2>
    <p class="lead" style="text-align:center">Contact: <a class="theme-link"
        href="mailto:hcompconference@gmail.com">hcompconference@gmail.com</a></p>
    {% assign people = site.data.chairs[page.year].general %}
    {% include people.html people=people %}
</div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- container a-->
